.gradient-background{
    background: linear-gradient(300deg, #17153B, #433D8B, #C8ACD6);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.profile-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: none;
}

h1{
    font-size: 48px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:left;
    letter-spacing:1.5px;
}

h2{
    color: #2E236C;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
    text-align: start;
    letter-spacing:1.5px;
}
h3{
    color: #2E236C;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: start;
    letter-spacing:1.5px;
}
p{
    color: #C8ACD6;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}
/* 
.card-project{
    background-color: #17153B;
} */

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}
li{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

footer > p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

h6{
    text-align: start;
}